<footer>
    <a>
        <img class="footerImg" src="assets/paginaum/footer.png" alt="footer">
    </a>
    <p class="quem">
        Quem é Delivery2U
    </p>
    <p class="pep">
        Política e Privacidade
    </p>
    <p class="fale">
        Fale Conosco
    </p>
    <p class="email">
        falecom@delivery2u.com.br
    </p>
    <p class="cadastro">
        Cadastre sua Loja
    </p>
    <p class="parceiro">
        Seja um Parceiro de Entregas!
    </p>
    <p class="dono">
        Seja dono do Delivery2U na sua Cidade!
    </p>
</footer>
