<span>
    <a>
        <img class="headerImg" src="assets/paginaum/header.png" alt="header">
        <img class="celularImg" src="assets/paginaum/celular.png" alt="celular">
        <p class="baixar">
            Baixe agora nosso app
        </p>
        <img class="appStoreImg" src="assets/paginaum/appstore.png" alt="appstore">
        <img class="googlePlayImg" src="assets/paginaum/googleplay.png" alt="googleplay">
        <p class="delivery">
            Delivery
        </p>
        <p class="u2">
            2U
        </p>
        <p class="texto1">
            PARA TODO PEDIDO <br>
            UMA ENTREGA!
        </p>
        <p class="texto2">
            Aplicativo de compras de fácil usabilidade, tanto para o lojista quanto para nossos usuários. 
            O app é bem intuitivo, com cores leves que ajudam os usuários no momentos da decisão de compra.
            Delivery2U foi desenvolvido para ajudar as empresas a aumentarem suas vendas e ajudar os usuários
            a realizarem compras no conforto da sua casa/escritório encontrando estabelecimentos com preços
            justos que possam realizar a entrega com maior segurança e pontualidade.
        </p>
    </a>

    <script>
        function circulo() {
            var canvas = document.getElementById('elementoCirculo')
            var ctx = canvas.getContext('2d')
            ctx.fillRect(25, 25, 100, 100)
        }
    </script>
</span>

<body class="container">
    <Canvas class="circulo1" id="elementoCirculo" width="260px" height="260px"></Canvas>
    <script>circulo()</script>

    <Canvas class="circulo2" id="elementoCirculo" width="260px" height="260px"></Canvas>
    <script>circulo()</script>

    <Canvas class="circulo3" id="elementoCirculo" width="260px" height="260px"></Canvas>
    <script>circulo()</script>

    <p class="lorem1">
        Lorem <br> Ipsom
    </p>
    <p class="lorem2">
        Lorem <br> Ipsom
    </p>
    <p class="lorem3">
        Lorem <br> Ipsom
    </p>

    <h2 class="lorem4">
        Lorem ipsum dolor sit amet, consectetur
    </h2>
    <a class="imagens">
        <img class="detalheUmImg" src="assets/paginaum/detalhe1.png" alt="detalhe1">
        <img class="detalheDoisImg" src="assets/paginaum/detalhe2.png" alt="detalhe2">
        <img class="detalheUmDnv" src="assets/paginaum/detalhe1.png" alt="detalheUmDnv">
        <img class="detalheDoisDnv" src="assets/paginaum/detalhe2.png" alt="detalheDoisDnv">
    </a>

    <Canvas class="elemento1" id="elementoCirculo" width="260px" height="260px"></Canvas>
    <script>circulo()</script>
    <Canvas class="elemento2" id="elementoCirculo" width="260px" height="260px"></Canvas>
    <script>circulo()</script>
    <Canvas class="elemento3" id="elementoCirculo" width="260px" height="260px"></Canvas>
    <script>circulo()</script>

    <a>
        <img class="fotoUm" src="assets/paginaum/foto1.png" alt="foto1">
        <img class="fotoDois" src="assets/paginaum/foto2.png" alt="foto2">
        <img class="fotoTres" src="assets/paginaum/foto3.png" alt="foto3">
    </a>
    <p class="user1">
        Usuário Usuário
    </p>
    <p class="user2">
        Usuário Usuário
    </p>
    <p class="user3">
        Usuário Usuário
    </p>
    <p class="descricao1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris finibus ligula a ornare tincidunt.
        Orci varius natoque penatibus et magnis dis parturient montes,
    </p>
    <p class="descricao2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris finibus ligula a ornare tincidunt.
        Orci varius natoque penatibus et magnis dis parturient montes,
    </p>
    <p class="descricao3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris finibus ligula a ornare tincidunt.
        Orci varius natoque penatibus et magnis dis parturient montes,
    </p>

    <h1 class="app">
        Baixe agora nosso app
    </h1>

    <a>
        <img class="googlePlayDnv" src="assets/paginaum/googleplay.png" alt="googleplay">
        <img class="appStoreDnv" src="assets/paginaum/appstore.png" alt="appstore">  
    </a>

</body>
