<a>
    <img class="entregasImg" src="assets/paginadois/entregas.png" alt="entregas">   
</a>
<script>
    function elemento() {
        var canvas = document.getElementById('elemento')
        var ctx = canvas.getContext('2d')
        ctx.fillRect(25, 25, 100, 100)
    }
</script>
<body>
    <h2 class="texto">
        Faça seu cadastro e comece fazer suas entregas!
    </h2>
    <a>
        <img class="detalheUmImg" src="assets/paginadois/detalhe1.png" alt="detalhe1">
        <img class="detalheDoisImg" src="assets/paginadois/detalhe2.png" alt="detalhe2">
        <img class="detalheUmDnv" src="assets/paginadois/detalhe1.png" alt="detalhe1dnv">
        <img class="detalheDoisDnv" src="assets/paginadois/detalhe2.png" alt="detalhe2dnv">
    </a>

    <Canvas class="elementoPrincipal" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoNome" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoSobrenome" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoEmail" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoSenha" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoConfSenha" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoCelular" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoRG" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoCPF" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoCNPJ" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoCidade" id="elemento"></Canvas>
    <script>elemento()</script>

    <h2 class="dadosP">
        Dados Pessoais
    </h2>

    <Canvas class="elementoBanco" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoTipoConta" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoAgencia" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoConta" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoNomeBanco" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoCPFBanco" id="elemento"></Canvas>
    <script>elemento()</script>

    <h2 class="dadosB">
        Dados Bancários
    </h2>

    <Canvas class="elementoTipoCarro" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoCorCarro" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoPlacaCarro" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoFotoCarta" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoFotoDoc" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoFotoSua" id="elemento"></Canvas>
    <script>elemento()</script>

    <h2 class="dadosV">
        Dados do Veículo
    </h2>

    <a>
        <img class="pastaUmImg" src="assets/paginadois/pasta.png" alt="pasta">
        <img class="pastaDoisImg" src="assets/paginadois/pasta.png" alt="pasta">
        <img class="pastaTresImg" src="assets/paginadois/pasta.png" alt="pasta">
    </a>

    <button class="elementoCaixa">
    </button>

    <div class="cores">
        <p class="aceitar">
            Li e aceito os 
        </p>
        <p class="contrato">
            termos do contrato
        </p>
    </div>

    <button class="botao">
        <strong>Enviar</strong>
    </button>

    <p class="txtNome">
        Nome
    </p>
    <p class="txtSobrenome">
        Sobrenome
    </p>
    <p class="txtEmail">
        Email
    </p>
    <p class="txtSenha">
        Senha
    </p>
    <p class="txtConfSenha">
        Confirmar Senha
    </p>
    <p class="txtCelular">
        Celular
    </p>
    <p class="txtRG">
        RG
    </p>
    <p class="txtCPF">
        CPF
    </p>
    <p class="txtCNPJ">
        CNPJ
    </p>
    <p class="txtCidade">
        Cidade de Atuação
    </p>

    <p class="txtBanco">
        Banco
    </p>
    <p class="txtTipoDeConta">
        Tipo de Conta
    </p>
    <p class="txtAgencia">
        Agência
    </p>
    <p class="txtConta">
        Conta
    </p>
    <p class="txtNomeBanco">
        Nome
    </p>
    <p class="txtCPFBanco">
        CPF
    </p>

    <p class="txtTipoCarro">
        Tipo de Veículo
    </p>
    <p class="txtCorCarro">
        Cor do Veículo
    </p>
    <p class="txtPlacaCarro">
        Placa do Veículo
    </p>
    <p class="txtFotoCarta">
        Foto da sua habilitação
    </p>
    <p class="txtFotoDoc">
        Foto dos documentos do veículo
    </p>
    <p class="txtFotoSua">
        Sua foto com a CNH
    </p>

</body>
