<a>
    <img class="estabelecimentoImg" src="assets/paginatres/estabelecimento.png" alt="estabelecimento">
</a>

<script>
    function elemento() {
        var canvas = document.getElementById('elemento')
        var ctx = canvas.getContext('2d')
        ctx.fillRect(25, 25, 100, 100)
    }
</script>

<body>
    <a>
        <img class="detalheUmImg" src="assets/paginatres/detalhe1.png" alt="detalhe1">
        <img class="detalheDoisImg" src="assets/paginatres/detalhe2.png" alt="detalhe2">
        <img class="detalheUmDnv" src="assets/paginatres/detalhe1.png" alt="detalhe1Dnv">
        <img class="detalheDoisDnv" src="assets/paginatres/detalhe2.png" alt="detalhe2Dnv">
    </a>

    <h2 class="loja">
        Cadastre sua Loja
    </h2>

    <Canvas class="elementoPrincipal" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoNome" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoSobrenome" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoEmail" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoCPF" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoRG" id="elemento"></Canvas>
    <script>elemento()</script>

    <h2 class="dadosP">
        Dados Pessoais
    </h2>

    <Canvas class="elementoCNPJ" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoNomeResp" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoEstado" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoCidade" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoEmailEst" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoTel" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoRamo" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoMoto" id="elemento"></Canvas>
    <script>elemento()</script>
    <Canvas class="elementoOutro" id="elemento"></Canvas>
    <script>elemento()</script>

    <h2 class="dadosE">
        Dados Estabelecimento
    </h2>

    <p class="txtNome">
        Nome
    </p>
    <p class="txtSobrenome">
        Sobrenome
    </p>
    <p class="txtEmailP">
        Email
    </p>
    <p class="txtCPF">
        CPF
    </p>
    <p class="txtRG">
        RG
    </p>

    <p class="txtCNPJ">
        CNPJ
    </p>
    <p class="txtNomeResp">
        Nome do responsável
    </p>
    <p class="txtEstado">
        Estado
    </p>
    <p class="txtCidade">
        Cidade
    </p>
    <p class="txtEmail">
        Email
    </p>
    <p class="txtTel">
        Telefone
    </p>
    <p class="txtRamo">
        Ramo de atuação
    </p>
    <p class="txtMoto">
        Tem motoboy próprio?
    </p>
    <p class="txtOutro">
        Atua com outro delivery?
    </p>

    <a>
        <img class="setaImg" src="assets/paginatres/setabaixo.png" alt="seta">
        <img class="setaDoisImg" src="assets/paginatres/setabaixo.png" alt="seta2">
    </a>

    <button class="elementoCaixa">

    </button>

    <div class="cores">
        <p class="aceitar">
            Li e aceito os
        </p>
        <p class="contrato">
            termos de contrato
        </p>
    </div>

    <button class="botao">
        <strong>Enviar</strong>
    </button>

</body>
